/******************************************************************
Site Name: BREW Styles
Author: Dan Brown

Stylesheet: Tables

This is just for the sample BREW site.  Feel free to delete

******************************************************************/
a {outline: 0 !important;}

.featured {
  margin-bottom: 40px;
  @media (min-width: @screen-md) {
    margin-bottom: 0;
  }
}

.homebanner {
  margin-bottom: 60px;
  padding-top: 30px;
  text-align: center;
  height: 640px;
  background: url('../../images/hero.png') #2A5781;
  background-size: cover;
  background-position: center center;
  color: #fff;
  @media (min-width: @screen-xs) {
    padding-top: 70px;
  }
  p {
    font-size: 18px;
  }
  h1 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 10px;
  }
  .btn-default {
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    .transition(all .2s ease);
  }
  .btn-primary {
    background: none;
    border: 2px solid #fff;
    margin-left: 20px;
    .transition(all .2s ease);
  }
}
.home-container {
  padding-top: 30px;
  	a {text-transform:uppercase;}
	h3 {
	font-weight: 600;
	color:#545454;
	font-size:20px;
	}
	p{
	padding-top:30px;
	font-size: 18px;
	line-height: 28px;
	color:#545454;
	
	}
	img {
	}
	a.register {
	border:2px solid #376481;
	text-transform:uppercase;
	color:#fff;
	background-color:#376481;
	font-size:14px;
	padding:10px 20px;
	font-weight:500;
		&:hover,
		&:focus {
		border:2px solid #376481;
		background-color:transparent;
		transition-timing-function:	ease;
		color:#376481;
		text-decoration:none;
		transition-duration: 0.3s;
		}
	}
	a.more {
	text-transform:uppercase;
	font-size:14px;
	color:#376481;
	font-weight:500;
	padding-left:10px;
		&:hover,
		&:focus {
		text-decoration:none;
		}
	}
	.home-links {
	padding-top:25px;
	}
	.home-section-1 {
	padding-bottom: 40px;
		img {
		padding: 23px 0 0 80px;
		width:100%;
	@media (max-width: @screen-md) {
	display:none;
	}
		}
	}
	.home-section-2 {
	padding-bottom: 40px;
		img {
		padding: 23px 80px 0 0;
		width:100%;

		}

	
	}
	@media (max-width: @screen-md) {
	padding:40px 20px 30px;
	
	.home-section-1 {
	padding-bottom: 40px;
		img {
		padding: 20px;
		width:100%;

		}
	}
	.home-section-2 {
	padding-bottom: 40px;
		img {
		padding: 20px;
		width:100%;

		}
	
	}
 }
}
.seminar-container {
  padding-top: 13px;
  	a {text-transform:uppercase;}
	h3 {
	font-weight: 600;
	color:#545454;
	font-size:20px;
	}
	p{
	padding: 0px 30px 0px 0px;
	font-size: 18px;
	line-height: 28px;
	color:#545454;
	
	}
	img {
	}
	a.register {
	border:2px solid #376481;
	text-transform:uppercase;
	color:#fff;
	background-color:#376481;
	font-size:14px;
	padding:10px 20px;
	font-weight:500;
		&:hover,
		&:focus {
		border:2px solid #376481;
		background-color:transparent;
		transition-timing-function:	ease;
		color:#376481;
		text-decoration:none;
		transition-duration: 0.3s;
		}
	}
	a.more {
	text-transform:uppercase;
	font-size:14px;
	color:#376481;
	font-weight:500;
	padding-left:10px;
		&:hover,
		&:focus {
		text-decoration:none;
		}
	}
	.home-links {
	padding-top:25px;
	}
	.home-section-1 {
	padding-bottom: 40px;
		img {
		padding: 23px 0 0 80px;
		width:100%;
	@media (max-width: @screen-md) {
	display:none;
	}
		}
	}
	.home-section-2 {
	padding-bottom: 40px;
		img {
		padding: 23px 80px 0 0;
		width:100%;

		}

	
	}
	@media (max-width: @screen-md) {
	padding:40px 20px 30px;
	
	.home-section-1 {
	padding-bottom: 40px;
		img {
		padding: 20px;
		width:100%;

		}
	}
	.home-section-2 {
	padding-bottom: 40px;
		img {
		padding: 20px;
		width:100%;

		}
	
	}
 }
}
.who-we-are {
	min-height:600px;
	.about-col-right {
		margin-top: -230px;
		padding-left:21px;
		p {
			em {
			font-size: 12px;
			line-height: 17px;
			float:left;
			}
		}
		.about-image {
			margin-top:70px;
			img {
			max-width:100%;
			}
		}
	}
}
.home-section-3 {
	padding-bottom: 70px;
	@media (max-width: @screen-md) {
	padding-bottom:30px;
	}
	}
.blue-line {
	border-bottom:3px solid #376481;
	width:70px;
	margin-bottom:40px;
	}	
		
.seminar-signup {
	height: 100%;
	background-color: #717C82;
	color: #FFF;
	margin-top: 27px;
	padding-top: 110px;
	padding-bottom: 10px;
	a {
	color:#fff;
	font-size: 14px;
	text-decoration:none;
	span {
	font-size:20px;
	padding-right:10px;
	}
	}
	@media (max-width: @screen-md) {
	}
	h3 {color:#fff;
	font-size: 28px;
	font-weight:600;
	}
	.signup-section {
	margin:auto;
	padding-top: 30px;
		p {
		padding: 0px 40px 0px 0px;
		}
		h2 {
		font-weight:500;
		font-size: 29px;
		padding-top: 25px;
		}
		@media (max-width: @screen-md) {
		height:270px;
		h2 {text-align: center;} 
		button {width:100%;}
		}
	}
	.col-centered {
	float:none;
	margin: 0 auto;
	}
	.col-centered-mob {
	@media (max-width: @screen-md) {
	float:none;
	margin: 0 auto;
	}
	}
	.seminar-button {
	margin-top: 20px;
	padding:10px;
	a{
	background-color:#F29E33;
	line-height:26px;
	color:#fff;
	font-size:24px;
	padding:22px 56px;
	border:0px;
	font-weight:600;
	text-transform:uppercase;
	float: right;
	@media (max-width: @screen-lg) {
				margin: 20px;
			}
		}
	}
	.speakers-button {
	padding:10px;
	a{
	background-color:#4f565c;
	line-height:26px;
	color:#fff;
	font-size:24px;
	padding:22px 48px;
	border:0px;
	font-weight:600;
	text-transform:uppercase;
	float: right;
		@media (max-width: @screen-lg) {
				margin: 20px;
			}
		}
	}
	/* mobile */
	@media (max-width: @screen-lg) {
	    padding: 60px 20px;
	    height: 780px;
	}
	
	
}

.page-template-page-about {
	.youtube {width:100%}
	.seminar-signup {
		height:100%;
	}
	@media (max-width: @screen-md) {
	.about-col-right {
		margin-top:0px !important;
		padding:0px;
	}
}
}
.embed-container { 
		position: relative; 
		padding-bottom: 56.25%;
		height: 0;
		overflow: hidden;
		max-width: 100%;
		height: auto;
	} 

	.embed-container iframe,
	.embed-container object,
	.embed-container embed { 
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}


.homebanner .btn-default:hover {
    background: white;
    color: #000;
}

.homebanner .btn-primary:hover {
  background: white;
  color: #000;
}

.about {
  margin-bottom: 30px;
  @media (min-width: @screen-sm) {
    margin-bottom: 0px;
  }
  a {
    text-decoration: none;
  }
  i {
    color: #929292;
  }
  p {
    color: #929292;
  }

  h3 {
    color: #626c72;
  }
}

.about:hover i {
  color: #626c72;
  transition: all 0.35s ease;
}


.icon-facebook, .icon-linkedin, .icon-twitter {
  height: 47px;
width: 45px;
background-position: 0px -77px;
background-size: cover;

&:hover, &:focus {
background-position: 0px 0px;
			}
	@media (max-width: @screen-lg) {
 	height: 36px;
    width: 33px;
    background-position: 0px -56px;
	background-size: cover;
 }
}

.icon-facebook, .header-icon-facebook {
  background-image: url('../../images/facebook-icon.png');
  background-repeat: no-repeat;
}

.icon-linkedin, .header-icon-linkedin {
  background-image: url('../../images/linkedin-icon.png');
  background-repeat: no-repeat;
}

.icon-twitter, .header-icon-twitter {
  background-image: url('../../images/twitter-icon.png');
  background-repeat: no-repeat;
}

.icons, .header-icons {
	> ul > li {
	float:left;
	margin: 0px 5px !important;
	list-style:none;
	}
	img {width:100%;
	height:100%;}
}

.header-icon-facebook, .header-icon-linkedin, .header-icon-twitter {
  height: 44px;
width: 35px;
background-position: 0px -55px;
background-size: cover;

&:hover, &:focus {
background-position: 0px 6px;
			}
			
 @media (max-width: @screen-lg) {
 	height: 36px;
    width: 33px;
 }
}
.grey-bg {
	background-color:#ebecee;
	.about-col-right-2 {
		padding-left:21px;
		margin-top: 29px;
		p {
		padding-bottom:60px;
			em {
			font-size: 12px;
			line-height: 17px;
			float:left;
			}
		}
	}
}
.owners {
	padding-bottom:100px;
	.home-links {
	padding-top:15px;
	}
	a.more {padding:0px;}
	.post-title {
	width:100%;
	color:#9e9e9e;
	text-transform:uppercase;
	padding:6px 0;
	}
	.owner-excerpt {
	overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   max-height: 50px;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   max-width:300px;
	}
	h3 {
	text-transform:uppercase;
	margin-top:10px;
	margin-bottom:0px;
	}
	.image	{
    width:100%;
    height:160px;
    text-align:center;
    overflow:hidden;
    padding-right:20px;
 	img {
    position:relative;   
    top: 50%;
    transform: translateY(-50%);
	}
	}
	
}
.post-type-archive, .category, .blog {
	#content {padding-bottom: 100px;}
	.archive-title {
	margin-top: 0px;
	font-size: 18px;
	font-weight: 700;
	color: #515151;
	max-height: 62px;
	overflow: hidden;
	line-height: 21px;
}
	.blog-col {
	padding:0px 30px 50px 0px;
    max-height: 220px !important;
	margin-top: 50px;
	margin-bottom: 50px;
	}
	.media-excerpt {
	padding-left:20px;
	}

	.media-excerpt-blog {
	.limited-excerpt p {
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 80px;
	max-width: 300px;
	}
	.vcard {
	margin-bottom: 5px;
	font-size: 17px;
	line-height: 25px;
	color: #c1c1c1;
	padding-top: 0px;
	p {line-height: 20px !important;
	max-height: 48px !important;}

	a {
	color: #c1c1c1;

	}
	
}
}
	.entry-content {
		padding: 0px 20px 20px 0px;
		p {
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 24px;
		color: #545454;
		padding-top:0px;
		}
		.vcard {
	font-size: 15px;
line-height: 16px;
color: #C1C1C1;
padding-top: 0px;
	p {line-height: 20px !important;}
	}
	}
	.excerpt-read-more {display:none;}
	.comment-more {
	color:#38647f;
	font-size:15px;
	font-weight:600;
	float:right;
		a {
		text-decoration:none;
		color: #38647F;
		font-weight:600;

		}
	}
}

.featured-thumbnail {
text-align: center;
overflow: hidden;
max-height:260px;
	img {
		max-width:100%;
		height:100%;
		position: relative;
		top: 50%;
		padding-right: 30px;
		transform: translateY(-10%) translateX(-50%);
		left: 50%;
	}
}
.featured-thumbnail-blog {
    overflow: hidden;
    max-height: 180px;
    height: 180px;
    img {
		position: relative;
		overflow: hidden;
		transform: translateY(-50%) translateX(-50%);
		top: 50%;
		left: 50%;
    }
}
.owl-wrapper-outer {
	min-height:310px;max-height:310px;

	}
.owl-buttons {
	position: absolute;
	margin-top: -240px;
	width: 115%;
	margin-left: -70px;
}
.owl-prev {right:0px !important;}
.owl-next {margin-left:90% !important;}

.media-excerpt-blog {
	padding-left:20px;
	p {
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 50px;
	max-width: 300px;
	}
}

#tabs, #tabs2 {
float:right;
}
#tabs ul, #tabs2 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
#tabs ul li, #tabs2 ul li {
    float: left;
    padding: 10px;
    color:#ffffff;
    text-transform:uppercase;
    font-weight: 700;
font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif !important;
font-size: 17px;	
}
#tabcontents, #tabcontents2 {
    clear: both;


}
.tabcontent, .tabcontent2 {
    display: none;
    width: 100%;
	background-color:#bebf59;
    position: absolute;
	color:#ffffff;
	height:275px;
}

.tabbed-content {
	width:100%;
	background-color:#bebf59;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {display:none;}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {float:left !important;padding-left:20px;margin-bottom: 20px;}
.woocommerce div.product .product_title {
	margin-top: 0px;
	font-size: 30px;
	font-weight: 700;
	color: #515151;
	max-height: 62px;
	overflow: hidden;
	line-height: 34px;
	}
	.home-link a {
	span {
	font-size: 20px;
	padding-right: 10px;
	}
	font-size: 14px;
	line-height: 28px;
	color: #979ca0;
	text-decoration: none;
	}
	.product-description {padding-left:20px;}
	#tab-description {
	p {
	padding-top:0px !important;
	}
	}
	.woocommerce-tabs {
	.panel {
    margin-bottom: 25px;
    background-color: #FFF;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
	}
	}
	
	.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #f29e00 !important;
    color: #FFF;
    border-radius:0px;
    font-size:25px;
}
.woocommerce .quantity .qty {
    width: 3.631em;
    text-align: center;
    height: 57px;
}
.woocommerce div.product form.cart, .woocommerce div.product p.cart {
    margin-bottom: 2em;
    margin-top: 40px;
}
.single-post {
	#content {
		padding-top: 20px;
		margin-top: 15%;
	}
	.entry-content {border-left: 8px solid rgb(50, 101, 128);}
	.article-header {
		margin-bottom: 15px;
		padding: 20px 20px 0px 0px;
	}
	.entry-title {
	a {
	font-size: 30px;
	font-weight: 700;
	color: #515151;
	max-height: 62px;
	overflow: hidden;
	line-height: 34px;
		}
	}
	.featured-thumbnail-blog {
    overflow: hidden;
	text-align: center;
	max-height: 300px;
	height: 200px;
	margin-bottom:20px;
	margin-top:20px;
    img {
    position: relative;
	overflow: hidden;
	transform: translateY(-40%) translateX(-57%);
	left: 50%;
	height: auto;
	width: 87%;
    }
}
#sidebar {
padding: 0 0 0 20px;
margin-top: 34px;
.sidebar-content {padding-left:20px;}
}
.featured-img {
margin-bottom: 20px;
max-height: 420px;
overflow: hidden;
}
.byline {
    color: #999;
    margin-bottom: 10px;
    font-size: 14px;
    a {
    color: #999;
    }
    
}
.comment-more {
	color:#38647f;
	font-size:15px;
	font-weight:600;
	float:right;
		a {
		text-decoration:none;
		color: #38647F;
		font-weight:600;

		}
	}
}
.main-title {padding-bottom: 30px;}
.col-left {padding-right:30px;}
.col-right {padding-left:30px;}
.page-bottom-padding {margin-bottom:50px;}

.page-template-page-contact {
h3 {margin-top: 7px;
padding-left: 10px;}
p {
float: left;
margin-bottom: 0px;
padding-bottom:30px;}
.icons {
img {
width: 16px;
float: left;
margin: 7px 10px 0px;
}
}
.acf-map {
	width: 100%;
	height:600px;
	border: #ccc solid 0px;
	margin-top:110px;	
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}
}
.contact-img {
	padding:10px 10px 10px 0;
	overflow: hidden;
}
.gform_wrapper textarea.large {
    max-height: 125px !important;
    background-color: #eee;
    border:0px;
    text-transform:uppercase;
    font-size:12px;
    padding:10px 20px;
}
.gform_wrapper .hidden_label input.large, .gform_wrapper .hidden_label select.large, .gform_wrapper .top_label input.large, .gform_wrapper .top_label select.large {
    background-color: #EEE;
    border: 0;
    height: 60px !important;
    text-transform:uppercase;
    font-size:12px;
    padding-left:20px;
}
.page-template-page-services {
/*  bhoechie tab */
div.bhoechie-tab-container{
	z-index: 10;
	padding: 0 !important;
	margin-top: 20px;
	margin-left: 0px;
	margin-bottom: 60px;
	background-clip: padding-box;
	opacity: 0.97;
	filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
}
div.bhoechie-tab-menu div.list-group>a:first-child{

}
div.bhoechie-tab-menu div.list-group>a:last-child{

}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{

}
div.bhoechie-tab-menu div.list-group>a.active:after{
	width: 0px;
	height: 0px;
	border-top: 30px inset transparent;
	border-bottom: 30px inset transparent;
	border-left: 11px solid #376481;
	position: absolute;
	content: "";
	top: 0px;
	right: -11px;
	z-index: 2;
}

div.bhoechie-tab-content{
  padding-left: 20px;
  padding-top: 10px;
  max-height:600px;
  overflow:scroll;
  h3, .h3 {margin-top:0px;}
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
.list-group-item {
	font-size:16px !important;
	color:#4d4d4d;
	position: relative;
	display: block;
	margin-bottom: -1px;
	background-color: #c6cbce;
	border: 1px solid #ebecee;
	padding: 18px;
	
}
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
	z-index: 2;
	color: #FFF;
	background-color: #376481;
	border: 1px solid #ebecee;
	}
	.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.services-description {
	p {
	padding:20px;
	font-size:16px;
	}
}
}
#gform_2 {
#input_2_1 {
    background-color: #fff !important;
    border: 0px none !important;
    height: 60px !important;
    text-transform: capitalize !important;
    font-size: 23px !important;
    padding-left: 0px !important;
    font-style:italic;
	font-weight:200;
	border-bottom:1px solid #9fa3a6 !important;    
}
}
.gform_footer input[type="submit"] {
    display: inline-block;
    background-color: #f29e00;
    border: 0px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 30px;
    float: right;
    margin-right: 10px;
}
.comment-more {
	color:#38647f;
	font-size:15px;
	font-weight:600;
	float:right;
		a {
		text-decoration:none;
		color: #38647F;
		font-weight:600;

		}
	}
.schedule-block-title {
	text-transform:uppercase;
	padding:20px 0;
}

.free-seminar-content {
	padding:0 25px;
	}
.free-seminar-content-sidebar {
	padding:0 23px;
	}

.register-button {
background-color: #FFAE2D;
	line-height: 26px;
	color: #FFF;
	font-size: 24px;
	padding: 15px 10px;
	border: 0px none;
	margin: 35px 0px;
	font-weight: 600;
	text-transform:uppercase;
	text-align:center;
	&:hover {background-color:#f39e1d;cursor:pointer;}
	a {
		color: #FFF;
		text-decoration:none;
		height:85px;
		width:230px;
	}
}
.popmake {
	max-height: 80%;
	overflow: scroll !important;
	
}

label {
	font-weight: 400;
	}
	
.gform_wrapper .gform_footer {
    padding-bottom: 60px !important;
}
.booking-info {
	font-size:13px;
	p {
	color:#6088AC !important;
    font-style:italic;
	}
}
.post-type-archive {
	.media-excerpt {
	h2 {
	margin-top: 0px;
	margin-bottom: 30px;
	a {
	font-size: 33px;
	font-weight: 700;
	color: #515151;
	line-height: 34px;
	}
	}
	}
	.click-for-info {
	padding-bottom:30px;
	a {
		color:#FFAE2D;
		text-transform:uppercase;
		font-weight:700;
		text-decoration:none;
		}
	}
	.entry-content {
    padding: 0px 20px 50px 0px;
}
.seminar-signup {
	margin-bottom:50px;
}
}
.pace-program {
	margin-top:60px;
	font-size:12px;
	color:#000000;
    font-style:italic;
}

	#gform_wrapper_9 ul.gfield_radio li input[type="radio"] {
		display:none;
	}
.gform_wrapper li.gf_list_inline ul.gfield_radio li {
    min-width:140px !important;
}

#gform_wrapper_9 ul.gfield_radio li input[type="radio"] + label {
		display: inline;
width: 110px !important;
margin: -3px -2px 0px;
padding: 30px 50px;
font-size: 20px;
line-height: 60px;
color: #FFF;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-color: #999;
text-transform: uppercase;
		
	}

 #gform_wrapper_9 ul.gfield_radio li input[type="radio"]:checked + label  {
		   background-image: none;
		outline: 0;
			background-color:#376481;
	}
	
#field_9_19  {

	 ul.gfield_radio li input[type="radio"] {
		display:block;
	}
.gform_wrapper li.gf_list_inline ul.gfield_radio li {
    min-width:inherit;
}

 ul.gfield_radio li input[type="radio"] + label {
		display: inherit;
width: inherit;
margin: inherit;
padding: 2px 10px 0px;
font-size: inherit;
line-height: inherit;
color: inherit;
text-align: inherit;
vertical-align: inherit;
cursor: inherit;
background-color: inherit;
text-transform: inherit;
		
	}

 ul.gfield_radio li input[type="radio"]:checked + label  {
		   background-image: inherit;
		outline: 0;
			background-color:inherit;
	}
	
}
